.rui-form-element {
  width: 300px;
  margin: 20px 0;
  position: relative; }
  .rui-form-element label {
    position: absolute;
    font-size: 13px;
    margin-left: 5px;
    padding: 0 8px;
    z-index: 10;
    background: #fff; }
  .rui-form-element input {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0; }
  .rui-form-element input:focus {
    border: 1px solid #adadad;
    box-shadow: 4px 4px 5px #ccc; }
  .rui-form-element select {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0; }
  .rui-form-element select:focus {
    border: 1px solid #adadad;
    box-shadow: 4px 4px 5px #ccc; }

.rui-side-nav {
  width: 100%;
  background: #fff;
  height: 100%; }
  .rui-side-nav .nav-logo {
    height: 50px; }
  .rui-side-nav .rui-nav-list {
    display: flex;
    flex-direction: column;
    width: 100; }
    .rui-side-nav .rui-nav-list a {
      text-decoration: none;
      color: #000; }
    .rui-side-nav .rui-nav-list .rui-nav {
      width: 100%;
      padding: 18px 0;
      padding-left: 15px;
      font-size: 13px;
      cursor: pointer; }

.rui-header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e0e0e0; }

.rui-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000; }
  .rui-modal .rui-model-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6; }
  .rui-modal .rui-modal-content {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    z-index: 1;
    background: #fff;
    border-radius: 5px; }
    .rui-modal .rui-modal-content .rui-modal-text {
      width: 100%;
      display: flex;
      overflow: auto; }

.rui-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .rui-table .rui-header {
    width: 100%;
    display: flex;
    background: #fafafa;
    min-height: 50px;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0; }
    .rui-table .rui-header div {
      flex: 1;
      display: flex;
      align-items: center;
      padding-left: 10px;
      color: #000;
      font-size: 13px; }
      .rui-table .rui-header div .header-icon {
        padding-left: 10px; }
  .rui-table .rui-body {
    width: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column; }
    .rui-table .rui-body .rui-row-cell {
      width: 100%;
      display: flex;
      flex-direction: column; }
    .rui-table .rui-body .rui-row {
      width: 100%;
      display: flex;
      min-height: 42px;
      height: 42px;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
      padding: 5px 0; }
      .rui-table .rui-body .rui-row div {
        flex: 1;
        padding-left: 12px;
        font-size: 13px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .rui-table .rui-body .rui-row div img {
          width: 30px;
          height: 30px;
          background-repeat: no-repeat; }
      .rui-table .rui-body .rui-row .small-text {
        font-size: 10px;
        color: #0094ff; }
    .rui-table .rui-body .rui-row:hover {
      border: 1.25px solid #b4b4b4; }

.rui-jumbotron {
  width: 100%; }

.rui-form-seperate {
  min-width: 500px;
  width: 500px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between; }
  .rui-form-seperate label {
    margin-right: 10px; }
  .rui-form-seperate input {
    margin-right: 0; }

.rui-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .rui-panel .panel-element {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    background: #0094ff;
    border-radius: 5px; }
    .rui-panel .panel-element span {
      padding-left: 10px; }
