body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; }

#root {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.app-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8f2f9; }

.container-center {
  width: 70%;
  display: flex; }
  .container-center .container-info {
    flex: 1; }
  .container-center .container-auth-form {
    flex: 1.5; }
    .container-center .container-auth-form .auth-forms {
      width: 90%;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .container-center .container-auth-form .auth-options {
      width: 100%;
      text-align: center; }
      .container-center .container-auth-form .auth-options a {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
        color: #000; }

.app-container {
  width: 100%;
  height: 100%;
  display: flex; }
  .app-container .app-nav-container {
    width: 150px;
    min-width: 150px;
    max-width: 150px; }
  .app-container .app-main-container {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .app-container .app-main-container .app-content-container {
      width: 98%;
      margin: 20px;
      padding: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      border-radius: 5px; }

.groups-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .groups-container .groups-header {
    margin-bottom: 10px; }
  .groups-container .groups-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1; }
    .groups-container .groups-layout .groups {
      width: 90%;
      min-height: 140px;
      margin: 5px 0;
      padding-left: 30px;
      padding-right: 50px;
      border-radius: 5px;
      display: flex;
      background-color: #fff; }
      .groups-container .groups-layout .groups .details-layout {
        display: flex;
        flex-direction: column; }
        .groups-container .groups-layout .groups .details-layout span {
          font-size: 20px;
          padding-top: 15px; }
          .groups-container .groups-layout .groups .details-layout span a {
            color: #000;
            text-decoration: none; }
        .groups-container .groups-layout .groups .details-layout ul {
          list-style: none; }
          .groups-container .groups-layout .groups .details-layout ul li {
            display: inline-block;
            font-size: 14px; }
      .groups-container .groups-layout .groups .options-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: auto; }

.groups-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .groups-details-container .groups-details-header {
    width: 100%;
    display: flex;
    align-items: center; }
    .groups-details-container .groups-details-header .back-anchor {
      background: #e0e0e0;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      line-height: 40px;
      text-align: center;
      margin-right: 20px; }
    .groups-details-container .groups-details-header .group-title {
      font-size: 24px; }
  .groups-details-container .groups-content-container {
    display: flex;
    flex: 1;
    padding-top: 20px; }
    .groups-details-container .groups-content-container .group-content {
      background-color: #fff;
      border-radius: 5px;
      flex: 2; }
    .groups-details-container .groups-content-container .group-members {
      background-color: #fff;
      border-radius: 5px;
      flex: 1; }
      .groups-details-container .groups-content-container .group-members .group-member {
        margin: 10px 0; }
        .groups-details-container .groups-content-container .group-members .group-member p {
          margin: 0;
          color: #828282;
          font-size: 12px; }
      .groups-details-container .groups-content-container .group-members .add {
        margin-top: 20px;
        background: #e0e0e0;
        width: 15px;
        height: 15px;
        padding: 8px;
        border-radius: 20px;
        text-align: center; }
      .groups-details-container .groups-content-container .group-members .filtered-members {
        width: 300px;
        max-height: 100px;
        overflow: auto;
        border: 1px solid #e0e0e0;
        border-radius: 5px; }
        .groups-details-container .groups-content-container .group-members .filtered-members .filtered-member {
          padding: 10px 15px;
          border-color: #e0e0e0;
          border-style: solid;
          border-width: 0 0 1px 0;
          cursor: pointer; }
          .groups-details-container .groups-content-container .group-members .filtered-members .filtered-member span {
            font-size: 13px; }
          .groups-details-container .groups-content-container .group-members .filtered-members .filtered-member p {
            margin: 0;
            color: #828282;
            font-size: 12px; }
